@import '../../public';

header {
  height: 45px;
  background-color: $theme-color-deep;

  .header-wrapper {
    position: relative;
    max-width: $window-width;
    margin: 0 auto;
    padding-top: 5px;
  }

  .web-title {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
  }

  .menu-button {
    float: right;
    padding-right: 5px;
  }
}
