@import '../../../public';

.login-wrapper {
  padding: 10px;
  margin: 10vh auto;
  max-width: 300px;

  background-color: $theme-color-bg;
  border: 1px solid #ddd;

  h3 {
    text-align: center;
  }

  .login-item {
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}

.two-column-box {
  line-height: 32px;
  .column-float {
    float: left;
  }
  .column-flex {
    margin-left: 3em;
  }
}
