@import '../../public';

.picture-page-wrapper {
  margin: 0 auto 50px;
  max-width: $window-width-huge;

  .picture {
    width: 100%;
    max-height: 100vh;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media screen and (orientation: landscape) {
        min-height: 480px;
        max-height: 95vh;
      }
      @media screen and (orientation: portrait) {
        min-height: 55vh;
        max-height: 95vh;
      }
    }
  }

  .picture-foot {
    padding: 10px;

    .picture-foot-column {
      margin-bottom: 5px;
      padding-top: 5px;
    }
  }
}
