// 主题颜色
$theme-color: #332a2c;
$theme-color-bg: rgba(0, 0, 0, 0.03);
$theme-color-deep: rgba(5, 5, 0, 0.09);
$theme-color-text: #332a2c;

$window-width: 1024px;
$window-width-huge: 1400px;

// 自定义样式
@mixin button($color) {
  padding: 5px 15px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color;
  background-color: $theme-color-deep;
  border: 1px solid $theme-color-bg;
  border-radius: 3px;
  font-size: 16px;

  &:hover {
    border: 1px solid $color;
    cursor: pointer;
  }
  &:focus {
    background-color: $theme-color-deep;
    outline: none;
  }
}
