$bg-color: rgba(200, 200, 200, 0.3);
$arrow-left: url('../../../../images/navi_left.png');
$arrow-right: url('../../../../images/navi_right.png');

.carousel {
  position: relative;
  max-height: 100vh;
  overflow: hidden;

  .arrow-left,
  .arrow-right {
    position: absolute;
    height: 100%;
    top: 0;
    text-align: center;
  }

  .arrow-left {
    // 添加箭头
    content: $arrow-left;
    width: 10%;
    left: 0;
    background-color: $bg-color;
  }

  .arrow-right {
    // 添加箭头
    content: $arrow-right;
    width: 10%;
    right: 0;
    background-color: $bg-color;
  }

  img {
    width: 100%;
  }
}
